* {
    margin: 0px;
    padding: 0px;
    outline: 1px solid red;
}

nav {
    background-color: black;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
ul li {
    display: flex;
    align-items: center;
    margin-left: 200px;
    font-size: 30px;
}

button {
    background-color: skyblue;
    width: 100px;
    font-size: 20px;
}

ul {
    display: flex;
    list-style: none;
}

nav h1,
.active {
    color: white;
}

a {
    color: gray;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0 300px;
    height: 800px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#usercard span {
    font-size: 35px;
}

#usercard p {
    font-size: 35px;
}
.card {
    display: flex;
    flex-direction: column;
}
#request {
    width: 500px;
}

#request .cardbottom {
    height: 200px;
}

.cardtop {
    align-items: center;
    display: flex;
    background-color: rgb(56, 56, 56);
    color: white;
    font-size: 24px;
    padding: 20px;
    gap: 10px;
}

.cardtop img {
    height: 150px;
    position: relative;
    top: 100px;
    left: 30px;
}

.cardtop span {
    background-color: lightgray;
    color: black;
    border-radius: 50%;
    padding: 10px;
    height: 30px;
    min-width: 30px;
    text-align: center;
    font-weight: bold;
}

.cardbottom {
    border: 2px solid gray;
    /* height: 300px; */
}

#usercard .cardtop {
    background-color: aqua;
}

#usercard .cardbottom {
    padding: 50px;
    padding-top: 80px;
}

.cardbottom img {
    height: 30px;
}

#education .cardbottom {
    font-size: 22px;
    padding: 45px;
}

#education h2 {
    margin-top: 10px;
}

#education p {
    margin-top: 10px;
}

.user {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

#connectionphoto,
#connectionphoto2 {
    height: 70px;
    border-radius: 50%;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}
